#password-field {
    margin-top: 1.65em;
    margin-left: 4.8em;
    width: 210px;
    height: 20px;
    padding: 10px 7px;
    font-size: 15px;
}

.fa {
    color: white;
    font-size: 20px;
    margin-left: 8px;
}